:root {
    --primary-bg-col-dark: hsl(207, 26%, 17%);
    --secondary-bg-col-dark: hsl(209, 23%, 22%);
    --primary-font-col-dark: white;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--primary-bg-col-dark);
}

/* ---------- *
 *   UTILITY  *
 * ---------- */
.width-full {
    width: 100%;
}

.height-full {
    height: 100%;
}

.width-3-rem {
    width: 3rem;
}

.min-height-med {
    min-height: 4rem;
}

.margin-left-med {
    margin-left: 3rem;
}

.margin-right-med {
    margin-right: 3rem;
}

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.wrap {
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.grid.row-auto {
    grid-template-rows: auto;
}

.gap-med {
    gap: 2rem;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.border-radius-small {
    border-radius: 0.3rem;
}

.overflow-hidden {
    overflow: hidden;
}

/* ---------- *
 *   COLORS   *
 * ---------- */
.primary-bg-col {
    background-color: var(--primary-bg-col-dark);
}

.secondary-bg-col {
    background-color: var(--secondary-bg-col-dark);
}

.primary-font-col {
    color: var(--primary-font-col-dark);
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
header {
    position: sticky;
    top: 0;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.225);
}

input {
    min-height: 2.5rem;
    outline: none;
    border: none;
}

input:not([type="search"]) {
    border-radius: 0.3rem;
}

input[type="search"] {
    width: 24.5rem;
}

p {
    margin: 5px 0;
    font-size: 12px;
}

#lookup-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 2rem;
}

#lookup-container > div:nth-child(1) {
    grid-column: span 4;
}

#page-container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
}

.card {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    max-height: 17rem;
    max-width: 15rem;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    background-color: var(--secondary-bg-col-dark);
    transition: 0.25s;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.719);
    transform: scale(1.1);
}

.card > div > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.country-info {
    padding: 1rem;
}

@media (max-width: 480px) {

    input[type="search"] {
        width: 100%;
    }

    #lookup-container {
        grid-template-columns: 1fr;
        margin: 0 3rem;
    }

    #lookup-container > div:first-child {
        grid-column: span 1;
    }

    .card  {
        max-width: 100%;
    }
}